extends ./layout.jade

block content
  .container
    .starter-template
      h1= title
      .row(data-ng-controller='nameController')
        .col-xs-3
          input.form-control(data-ng-model='yourName')
          hr
          h1 Hello {{yourPrice | currencyFilter}}



      ul
        each user in users
          li #{user.id}: #{user.name} - #{user.email}
